#acode-plugin-moduleAdder{
    .hide{
        display: none;
    }
    .plugPage1{
        max-height: 100%;
        padding: 10px;
        .searchBar{
            display: flex;
            padding: 10px;
            .searchInput{
                padding: 5px;
                width: 100%;
                margin-right: 10px;
                font-size: 18px;
            }
            button{
                border: none;
                background: var(--button-background-color);
                color: var(--button-text-color);
                padding: 10px;
                border-radius: 10px;
                font-size: 18px;
            }
        }
        .mainlistCont{
            height: 37rem;
            display: flex;
            flex-direction: column;
            padding: 10px;
            overflow-x: scroll;
            margin-top: 15px;
            ul{
                list-style: none;
                li{
                    padding: 20px;
                    margin-bottom: 15px;
                    max-height: 100%;
                    border-radius: 10px;
                    &:hover{
                        background: var(--primary-color);
                        transition: 0.3s ease-in-out;
                    }
                    .pkgHeader{
                        display: flex;
                        h4{
                            margin-left: 20px;
                            font-weight: 500;
                            font-size: 20px;
                        }
                    }
                    .pkgMain{
                        display: flex;
                        margin-top: 10px;
                        p{
                            width: 100%;
                            font-size: 15px;
                            font-weight: 400;
                        }
                        span{
                            display: flex;
                            align-items: center;
                            font-size: 25px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .plugPage2{
        max-height: 100%;
        padding: 10px;
        .headerDiv{
            display: flex;
            padding: 20px;
            h2{
                font-size: 20px;
                width: 100%;
                font-weight: 500;
            }
            select{
                padding: 8px;
                margin-left: 10px;
                outline: none;
                width: 100px;
                background: transparent;
                color: var(--secondary-text-color);
                border: 1px solid var(--primary-color);
                box-shadow: 0 2px 4px var(--box-shadow-color);
            }
        }
        .mainDiv{
            padding: 20px;
            .group{
                margin-bottom: 25px;
                label{
                    font-size: 15px;
                    color: var(--border-color);
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                p{
                    margin-top: 10px;
                    font-size: 17px;
                    font-weight: 400;
                }
                ul {
                    list-style: none;
                    li{
                        display: flex;
                        margin-top: 10px;
                        font-size: 17px;
                        font-weight: 400;
                        .filesLabel{
                            width: 100%;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .footer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 15px;
            .backBtn{
                border: none;
                background: var(--primary-color);
                color: var(--button-text-color);
                padding: 10px;
                border-radius: 10px;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .addLibBtn{
                border: none;
                background: var(--button-background-color);
                color: var(--button-text-color);
                padding: 10px;
                border-radius: 10px;
                font-size: 18px;
            }
        }
    }
}